<html>
	<body>
		<h1>Welcome to NeurEasy!</h1>
		<br>
		<h3>Already a user?</h3>
		<form name = "login" method = "POST" action = "{% url "login" %}" > {% csrf_token %}
		<div style = "max-width:470px;">
            <center> 
			   <label> Username </label>
               <input type = "text"  
                  placeholder = "user" name = "username"/>
            </center>
         </div>
        <div style = "max-width:470px;">
            <center> 
			   <label> Password </label>
               <input type = "password"  
                  placeholder = "****" name = "password"/>
            </center>
         </div>
		  <button type="submit">Log in</button>
		</form>

		<br>
		<br>

		<h3> New here? </h3>
		<form>
		  <button type="submit" formaction="{% url 'register' %}">Register</button>
		</form>	
		
	
	</body>
</html>