<!DOCTYPE html>
<html lang="en">
<title>PROFILE</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="../home_page" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About</a>
    <a href="../login_page" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Log in</a>
    <a href="../register_page" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Register</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Users</a>
    
  </div>
</div>



<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

    <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
        <form class="w3-container" name = "form" method = "POST" action = "{% url 'profile_user' %}">  {% csrf_token %}

            <p><label class="w3-text-black"><b>Username:</b></label>
            <label class="w3-text-black">{{user.username | default:"username"}}</label></p>
             
            <p><label class="w3-text-black"><b>Email:</b></label>
            <label class="w3-text-black">{{user.email | default:"email"}}</label></p>

            <p><label class="w3-text-black"><b>User Type:</b></label>
            <label class="w3-text-black">{{user.usertype | default:"client"}}</label></p>

            <label class="w3-text-black"><b>Old Password</b></label>
            <input class="w3-input w3-border" type="password" name = "old_password">
             
            <label class="w3-text-black"><b>New Password</b></label>
            <input class="w3-input w3-border" type="password" name = "new_password">
            
            <button class="w3-btn w3-black" type="submit" >ChangePassword</button>

             
        </form> 
        <p><button onclick="myFunction()">Upload</button></p>
    </div>


  <!-- Pagination
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a class="w3-button w3-black" href="#">1</a>
      <a class="w3-button w3-hover-black" href="#">2</a>
      <a class="w3-button w3-hover-black" href="#">3</a>
      <a class="w3-button w3-hover-black" href="#">4</a>
      <a class="w3-button w3-hover-black" href="#">5</a>
      <a class="w3-button w3-hover-black" href="#">»</a>
    </div>
  </div>

  <footer id="myFooter">
    <div class="w3-container w3-theme-l2 w3-padding-32">
      <h4>Footer</h4>
    </div>

    <div class="w3-container w3-theme-l1">
      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </div>
  </footer> -->

<!-- END MAIN -->
</div>

<script>
  function myFunction() {
    var x = document.createElement("INPUT");
    x.setAttribute("type", "file");
    document.body.appendChild(x);
  }
  </script>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
