<html>
   <body>
      <form name = "form" method = "POST" action = "{% url 'add_user' %}" > {% csrf_token %} Register!<br><br><br>
		 
         <div style = "max-width:470px;">
            <center> 
			   <label> Username </label>
               <input type = "text" style = "margin-left:20%;"  
                  placeholder = "username" name = "username" />
            </center>
         </div>
			
         <br>
         
         <div style = "max-width:470px;">
            <center>
			   <label> Password </label>
               <input type = "password" style = "margin-left:20%;" 
                  placeholder = "" name = "password" />
            </center>
         </div>

         <br>

         <div style = "max-width:470px;">
            <center>
            <label> Email </label>
               <input type = "text" style = "margin-left:20%;" 
                  placeholder = "email@prov.com" name = "email" />
            </center>
         </div>
			
         <br>
         <div style = "max-width:470px;">
            <center> 
            
               <button style = "border:0px; background-color:#4285F4; margin-top:8%;
                  height:35px; width:80%;margin-left:19%;" type = "submit" >
                  <strong>Register!</strong>
               </button>
               
            </center>
         </div>
         
      </form>
      
   </body>
</html>